<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <section>
            <h1>Enter the Code</h1>
            <form action="submit-form">
                <textarea name="code-input" cols="30" rows="10"></textarea>
                <button class="submit">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>
