<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - BonaCoder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/loder.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('./../public/layouts/header') %>
    <!-- header end -->
    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption text-center">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Own your programming, elevate your career</h1>
                                    <p data-animation="fadeInUp" data-delay="0.4s">Automated training & evaluation for your coding assignments which will help you elevate your career to the next level.</p>
                                    <a href="assignments" class="btn hero-btn" data-animation="fadeInUp" data-delay="0.7s">Get Started Now</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption text-center">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Stay connected together in your own business network</h1>
                                    <p data-animation="fadeInUp" data-delay="0.4s">Personalized experiences are proven to increase conversions. Appli makes 
                                    it easy. Let's make the internet delightfully human.</p>
                                    <a href="#" class="btn hero-btn" data-animation="fadeInUp" data-delay="0.7s">Get Started Now</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!--? Brand Area Start -->
        <div class="brand-area">
            <div class="container">
                <div class="brand-active brand-border pt-50">
                    <div class="single-brand">
                        <img src="/img/gallery/brand1.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand3.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand5.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
        <!--? Our Services Start -->
        <section class="our-services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <h2>Finally focus on your logic and accuracy improvment</h2>
                            <p>In the old days, your website was the same for everyone. Not anymore. Experiences lets you adapt your website for every audience.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services1.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Data Driven</a></h5>
                                <p>We are not afraid to challenge the status-quo.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services2.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Customer Delight</a></h5>
                                <p>We are obsessed with customer happiness.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services3.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Forever Learner</a></h5>
                                <p>We never stop learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services4.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Extreme Ownership</a></h5>
                                <p>We operate in a ‘no excuse’ zone.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services5.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Giver</a></h5>
                                <p>We make time to help others achieve their goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services mb-30">
                            <div class="services-ion">
                                <img src="/img/icon/services6.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Detail-Oriented</a></h5>
                                <p>We sweat the details in every interaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Services End -->
                <!--? About Area  -->
        <section class="about-area2 section-padding40">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <div class="about-icon">
                                <img src="/img/icon/about.svg" alt="">
                            </div>
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>You have the power to improve your coding.</h2>
                            </div>
                            <p class="mb-20">
                                We are working to change the way programmers learn and solve problems. Building a community of programmers that fosters learning is at the heart of what we do.
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? About Area  -->
        <section class="about-area2 pb-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-5 col-md-9">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <div class="about-icon">
                                <img src="/img/icon/about.svg" alt="">
                            </div>
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>Personalized experiences are proven to increase conversions</h2>
                            </div>
                            <p class="mb-20">
                                By enabling tech recruiters and hiring managers to objectively evaluate talent at every stage of the recruiting process, we help companies hire skilled developers and innovate faster.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Brand Area Start -->
        <div class="brand-area ">
            <div class="container">
                <div class="brand-active brand-border pb-80">
                    <div class="single-brand">
                        <img src="/img/gallery/brand1.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand3.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand5.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="/img/gallery/brand4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
        <!--? Testimonial Area Start -->
        <section class="testimonial-area fix">    
            <div class="container" >   
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center">
                            <h2>Testimonials</h2>
                            <p>Reviews from users, recuiters and a many personal icons!</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-wrapper section-bg2 pt-135" data-background="/img/gallery/section_bg01.png">
                    <div class="row align-items-center justify-content-center">
                        <div class=" col-lg-8 col-md-12 col-sm-9">
                            <div class="about-caption">
                                <!-- Testimonial Start -->
                                <div class="h1-testimonial-active dot-style">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption">
                                            <img src="/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                            <p>The results were impressive and gave us increased confidence that BonaCoder would be a success, but if you had asked us to estimate the results when we started the pilot, well, these numbers surpassed our expectations.</p>
                                        </div>
                                        <!-- founder -->
                                        <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                            <div class="founder-text">
                                                <span>Robart Brown</span>
                                                <p>Senior Developer at XYZ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption">
                                            <img src="/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                            <p>It’s a balancing act. We want candidates to have a personal connection to Amplify at every step, but at the same time, our software engineers don’t have the bandwidth to interview every candidate whose resume crosses our desk, so there needs to be some level of technical pre-screening</p>
                                        </div>
                                        <!-- founder -->
                                        <div class="testimonial-founder d-flex align-items-center justify-content-center">

                                            <div class="founder-text">
                                                <span>Jim Kobe</span>
                                                <p>Senior Manager at ABC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Testimonial Area End -->
        <!--? Want To work 01-->
        <section class="wantToWork-area " >
            <div class="container">
                <div class="wants-wrapper w-padding2 section-bg2" data-background="/img/gallery/section_bg02.png">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption text-center">
                                <h2>Start your journey today!</h2>
                                <p>Be ready to elevate your career and programming skills with us, all for FREE</p>
                                <a href="assignments" class="btn3 wantToWork-btn">Browse Problems</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->

    </main>

    <%- include('./../public/layouts/footer') %>

<!-- JS here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>
</html>