<!DOCTYPE html>
<html>

<head>
	<title>HopeGivers</title>
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
</head>

<body>

	<!-- multistep form -->
	<form action="/login" method="POST" id="multistepsform">
		<p style="margin-top: 150px;"></p>
		<!-- fieldsets -->
		<fieldset>
			<h2 class="fs-title">Login to your Account</h2>
			<h3 class="fs-subtitle"></h3>
			<input type="text" name="email" placeholder="Email" required />
			<span id="password-span">
				<input type="password" id="password" name="password" placeholder="Password" required />
				<i id="hide-password" class="far fa-eye-slash toggle-password"></i>
				<i id="show-password" class="far fa-eye toggle-password"></i>
			</span>
			<input type="submit" name="submit" class="submit action-button" value="Login" />
			<p class="forgot-password"><a href="./forget-pass">Forgot Password</a></p>
		</fieldset>
		<p class="member-login">
			Not yet a member? <a href="register">Sign up</a>
		</p>

	</form>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script>

		let password;

		$('.toggle-password').on('click', function (e) {
			password = document.getElementById("password");
			if (password.type === 'password') {
				console.log('Password type is text');
				password.type = 'text';
				$('#hide-password').hide();
				$('#show-password').show();
			}
			else {
				password.type = 'password';
				$('#hide-password').show();
				$('#show-password').hide();
			}
		});



	</script>
</body>

</html>