<!DOCTYPE html>
<html>

<head>
  <title>Register - BonaCoder</title>
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo/loder.png">

  <link rel="stylesheet" type="text/css" href="css/register.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="/css/animated-headline.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/slicknav.css">
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="/css/gijgo.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/animated-headline.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <%- include('./../public/layouts/header') %>

  <main>

    <section class="slider-area slider-area2">
      <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height2">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-xl-8 col-lg-11 col-md-12">
                          <div class="hero__caption hero__caption2 text-center">
                              <h1 data-animation="bounceIn" data-delay="0.2s">Welcome to Our Family</h1>
                          </div>
                      </div>
                  </div>
              </div>          
          </div>
      </div>
  </section>

  <section class="blog-area ">
    <!-- multistep form -->
    <form action="/register" method="POST" id="multistepsform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>Personal Details</li>
        <li>Social Profiles</li>
      </ul>

      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle"></h3>
        <input type="text" name="email" placeholder="Email" />
        <span id="password-span">
          <input type="password" id="password" name="password" placeholder="Password" />
          <i id="hide-password" class="far fa-eye-slash toggle-password"></i>
          <i id="show-password" class="far fa-eye toggle-password"></i>
        </span>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" />
        <p style="display: none; color:crimson;" class="alertMsg">
          <i class="fas fa-exclamation-circle"></i>
          <span>Entered Passwords must be same </span>
        </p>
        <input type="button" name="next" id="nextButton" class="next action-button" value="Next" />
      </fieldset>

      <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" id="fname" name="first_name" placeholder="First Name" />
        <input type="text" id="lname" name="last_name" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <input type="date" name="dob" placeholder="DOB" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" />

        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <input type="text" name="twitter" placeholder="Twitter" />
        <input type="text" name="facebook" placeholder="Facebook" />
        <input type="text" name="gplus" placeholder="Google Plus" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
      </fieldset>

      <p class="member-login">
        Already a member? <a href="login">Sign in</a>
      </p>
    </form>
  </section>

  </main>

  <%- include('./../public/layouts/footer') %>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script>

    let current_field, next_field, prev_field, password, confirm_password;

    password = document.getElementById("password");
    confirm_password = document.getElementById("confirm_password");

    $('.toggle-password').on('click', function (e) {
      if (password.type === 'password') {
        console.log('Password type is text');
        password.type = 'text';
        confirm_password.type = 'text';
        $('#hide-password').hide();
        $('#show-password').show();
      }
      else {
        password.type = 'password';
        confirm_password.type = 'password';
        $('#hide-password').show();
        $('#show-password').hide();
      }
    });

    $('.next').on('click', function () {
      if (password.value != confirm_password.value) {
        console.log('password do not match');
        $('.alertMsg').show();
      }
      else {
        $('.alertMsg').hide();
        current_field = $(this).parent();
        next_field = $(this).parent().next();
        console.log(current_field);
        console.log(next_field);

        $('#progressbar li').eq($('fieldset').index(next_field)).addClass('active');
        next_field.show().addClass('next-animation');
        current_field.hide();

      }
    });

    $('.previous').on('click', function (e) {
      current_field = $(this).parent();
      prev_field = $(this).parent().prev();
      // console.log(current_field);
      // console.log(prev_field);

      $('#progressbar li').eq($('fieldset').index(current_field)).removeClass('active');
      prev_field.show();
      current_field.hide();

    });


  </script>

  <!-- JS here -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="/js/wow.min.js"></script>
	<script src="/js/animated.headline.js"></script>
	<script src="/js/jquery.magnific-popup.js"></script>

	<!-- Date Picker -->
	<script src="/js/gijgo.min.js"></script>
	<!-- Nice-select, sticky -->
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<!-- Progress -->
	<script src="/js/jquery.barfiller.js"></script>

	<!-- counter , waypoint,Hover Direction -->
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/hover-direction-snake.min.js"></script>

	<!-- contact js -->
	<script src="/js/contact.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/mail-script.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->	
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>