<footer>
    <div class="footer-wrappper section-bg" data-background="/img/gallery/footer-bg.png">
       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row justify-content-between">
                   <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                           <div class="single-footer-caption mb-30">
                               <!-- logo -->
                               <div class="footer-logo mb-25">
                                   <a href="index"><img src="/img/logo/logo2_footer.png" alt=""></a>
                               </div>
                               <div class="footer-tittle">
                                   <div class="footer-pera">
                                       <p>Own your programming, elevate your career.</p>
                                   </div>
                               </div>
                               <!-- social -->
                               <div class="footer-social">
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-pinterest-p"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Sections</h4>
                               <ul>
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Assignments</a></li>
                                   <li><a href="#">Learners' Centre</a></li>
                                   <li><a href="#">Recruiters' Centre</a></li>
                                   <li><a href="#">Careers</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><div class="single-footer-caption mb-50"></div></div>
                   <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6"><div class="single-footer-caption mb-50"></div></div>
               </div>
           </div>
       </div>

         <!-- Footer End-->
     </div>
 </footer>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>